/* <=991px */
@media(max-width:61.9375em){
    html{
        font-size: 55%;
    }

    .header{
        padding: 1.5rem 2rem;
    }
    section{
        padding: 2rem;
    }
}
/* <=768px */
@media(max-width:48em){
    .s-full-width{
        width: 100%!important;
    }

    .btn{
        font-size: 2rem;
    }

    #menu-btn{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top: 100%; right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active{
        right: 0;
    }

    .header .navbar a{
        color: var(--black);
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
    }
    
    .header .search-form{
        width: 90%!important;
        right: 2rem!important;
    }

    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .home .content h3{
        font-size: 4.5rem;
    }

    .home .content p{
        font-size: 1.5rem
    }
    
    .contact .row form .btn{
        margin: 0;
    }

    .blogs .box-container .box .content .btn{
        font-size: 2rem;
        text-align: center;
    }
}
/* <=450px */
@media(max-width:28.125em){
    html{
        font-size: 50%;
    }
    

}